:host {
  display: block;
}

div.container {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row; /*橫向排列*/
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex-basis: calc(20% - 40px);
}

div.data-empty {
  padding: 15px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
